REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_KEY_PREFIX=sip

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=signalintel
POSTGRES_USER=signalintel_admin
POSTGRES_PASSWORD=password

API_KEY_REQUIRED=false
API_KEY=

RATE_LIMIT=600/minute
LIVE_FEED_INTERVAL_SECONDS=2.0
CORS_ALLOW_ORIGINS=*
